body {
  overflow-x: hidden;
}

.mainblue-bg {
  background-color: #55B7F1 !important;
}

.box-height {
  height: 300px;
}

.table3 td {
  padding-left: 2%;
}

.border-product {
  border-color: #979797;
}

.roundbg {
  border-radius: 15px;
}

.listimage img {
  width: 50px;
  height: 50px;
}

/*Remover isto prob*/
.admin-box-maxw {
  max-width: 283.5px;
}

.active-true {
  background-color: #55B7F1;
  border-radius: 5px;
  color: white !important;
}

.header-logo {
  width: 60%;
  max-width: 60%;
}

.notification-icon {
  max-width: 30px;
  max-height: 30px;
}

.username-text {
  font-size: 15px;
  font-weight: bold;
}

.account-text {
  font-size: 13px;

}

.account-type {
  margin-top: -5px;
}

.box-container {
  min-height: 120px;
}

.box-image {
  width: 50px;
  height: 50px;
}

/*
Já cá estava, tirar isto tudo acho eu

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/